form.login{

    margin-top: 150px;
    padding-top: 5%;
    padding-bottom: 5%;
    height: 200px;
    @include set_colores_normales;

    img{
        width: 200px;
    }

    input[type="submit"]{
        @include set_colores_inversos;
    }
    
    input[type="submit"]:hover{
        @include set_colores_inversos_hover;
    }
    
    a{
        color: white;
    }
}