//Variable de color del texto
$color_texto: #eee;

//Variable de color del texto hover
$color_texto_hover:#fff;

//Variable Color fondo Principal
$color_background:#155db1;

//Variable color fondo segundario
$color_background_hover:#2196f3;

//Link de la Fuente de letra
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Ribeye+Marrow&display=swap');

//Variable de fuente de letra tabla
$letra_Menu:'Permanent Marker';

//Variable de fuente de letra principal
$letra_Principal:Arial;


//Variable de color inverso principal
$color_inverso_texto:#155db1;

//Variable color inverso al fondo
$color_inverso_fondo:#fff;

//Variable color inverso al fondo hover
$color_inverso_fondo_hover:rgb(207, 204, 204);